@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@100;200;300;400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "GreyCliff";
  src: url("/fonts/Fontspring-DEMO-greycliffcf-medium.otf");
}


:root{
  /* Defining font family */
  --plex-mono : 'IBM Plex Mono', monospace;
  /* Colors */
  --dark : #001A1A;
  --green : #008080;
  --light-green : #E6F2F2;
}

*{
  font-family: var(--plex-mono);
}

@media screen and (width <= 1180px) {
  html{
    font-size: 14px;
  }
}

@media screen and (width <= 1024px) {
  html{
    font-size: 12px;
  }
}

@media screen and (width <= 820px) {
  html{
    font-size: 10px;
  }
}

@media screen and (width <= 400px) {
  html{
    font-size: 16px;
  }
}

.hero-gradient-text{
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.5) 6.44%, #FFFFFF 95.08%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
}

.text{
  @apply text-dark text-base font-normal leading-5;
}